{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Home
{% endblock %}
{% block home %}active{% endblock %}
{% block css %}
<style>
  a:hover {
    cursor: pointer;
  }

  .slider_content_responsive{
    position: relative;
  }

  .slider_content_inner{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .slider_content_inner h3{
    font-weight: 900 !important;
  }
  .slider_content_inner_two{
    width: 90% !important; 
    margin: 0px auto; 
    padding-left: 15px;
  }

  @media only screen and (min-width: 992px) {
    .slider_image_responsive {
      height: 600px !important;
      width: 100%;
      object-fit: cover;
      
    }
    .slider_content_inner_two {
      padding-top:175px;
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 991px) {
    .slider_image_responsive {
      height: 450px !important;
      width: 100%;
      object-fit: cover;
    }

    .slider_content_inner_two {
      padding-top:120px;
    }
    .slider_content_inner h3{
    font-weight: 900 !important;
  }
  }

  @media only screen and (max-width: 425px) {
    .slider_image_responsive {
      height: 330px !important;
      width: 100%;
      object-fit: cover;
    }
    .slider_content_inner_two {
      padding-top:30px;
    }
    .slider_content_inner h3{
    font-weight: 900 !important;
  }
  }
</style>
{% endblock %}
{% block content %}
<div id="homeContain">
  <!-- Hero slider-->
  <section class="tns-carousel tns-controls-sm">
    <div class="tns-carousel tns-nav-enabled">
      <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;}">
        {% for slider in sliderlist %}
        <div class="slider_content_responsive">
          <img src="{% if slider.image %}{{slider.image.url}}{% endif %}" alt="carouselImg" class="slider_image_responsive img-fluid">
          <div class="slider_content_inner">
            <div class="slider_content_inner_two">
              <h3 class="h2 text-light fw-light pb-1 from-start">{{slider.title|capfirst}}</h3>
              <p class="fs-lg text-light pb-3 from-start delay-2">{{slider.caption}}</p>
              {% if slider.action_link_name %}
              <div class="d-table scale-up delay-4 mx-lg-0">
                <a class="btn btn-primary float-left" href="{% if slider.action_link %}{{slider.action_link}}{% else %}#{% endif %}" target="_blank">
                  {{slider.action_link_name|capfirst}}
                  <i class="ci-arrow-right ms-2 me-n1"></i>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Popular categories-->
  <!-- <section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
  <div class="row">
    <div class="col-xl-8 col-lg-9">
      <div class="card border-0 shadow-lg">
        <div class="card-body px-3 pt-grid-gutter pb-0">
          <div class="row g-0 ps-1">
            <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none me-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="{% static 'customstatic/dist/img/home/categories/cat-sm01.jpg' %}" alt="Men">
              <h3 class="fs-base pt-1 mb-0">Men</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none me-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="{% static 'customstatic/dist/img/home/categories/cat-sm02.jpg' %}" alt="Women">
                <h3 class="fs-base pt-1 mb-0">Women</h3></a></div>
                <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none me-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="{% static 'customstatic/dist/img/home/categories/cat-sm03.jpg' %}" alt="Kids">
                  <h3 class="fs-base pt-1 mb-0">Kids</h3></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
  {% if productlist %}
  <!-- Products grid (Trending products)-->
  <section class="container pt-md-3 pb-5 mb-md-3 mt-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3">Latest Products</h2>
      <!-- <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="{% url 'ecomapp:clientcategorydetail' 'all' %}">More products<i class="ci-arrow-right ms-1 me-n1"></i></a></div> -->
    </div>
    <div class="row pt-4 mx-n2">
      {% for product in productlist %}
      <!-- Product-->
      <div class="col-md-3 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          {% if product.on_sale %}
          <span class="badge bg-danger badge-shadow">Sale</span>
          {% endif %}
          {% if request.user.is_authenticated and request.user.groups.first.name == "Customer" %}
          {% if product in wishlist.products.all %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" type="button"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Remove from wishlist">
            <i class="ci-heart-circle"></i>
          </button>
          {% else %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" type="button"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </button>
          {% endif %}
          {% else %}
          <a class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" href="#signin-modal" data-bs-toggle="modal"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </a>
          {% endif %}
          <a class="card-img-top d-block overflow-hidden"
            href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"><img
              src="{{product.display_image.url}}" style="width: 100%; height: 250px; object-fit: contain;"
              alt="{{product.title}}" style="background: transparent;"></a>
          <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1"
              href="{% url 'ecomapp:clientcategorydetail' product.category.slug %}">{{product.category|capfirst}}</a>
            <h3 class="product-title fs-sm"><a href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"
                class="fit-title1">{{product.title|capfirst}}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price">
                <span class="text-accent">€. {{product.selling_price|intcomma}}</span>
                <!-- <del class="fs-sm text-muted">€. {{product.marked_price}}</del> -->
              </div>
              <!-- <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i>
                </div> -->
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <!-- <div class="text-center pb-2">
                <div class="form-check form-option form-check-inline mb-2">
                <input class="form-check-input" type="radio" name="color1" id="white" checked>
                <label class="form-option-label rounded-circle" for="white"><span class="form-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
                </div>
                <div class="form-check form-option form-check-inline mb-2">
                <input class="form-check-input" type="radio" name="color1" id="blue">
                <label class="form-option-label rounded-circle" for="blue"><span class="form-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
                </div>
                <div class="form-check form-option form-check-inline mb-2">
                <input class="form-check-input" type="radio" name="color1" id="yellow">
                <label class="form-option-label rounded-circle" for="yellow"><span class="form-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
                </div>
                <div class="form-check form-option form-check-inline mb-2">
                <input class="form-check-input" type="radio" name="color1" id="pink">
                <label class="form-option-label rounded-circle" for="pink"><span class="form-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
                </div>
            </div> -->
            <div class="d-flex mb-2">
              <!-- <select class="form-select form-select-sm me-2">
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                </select> -->
              <input type="number" name="quantity" class="form-control quantity_input" style="display: none;" value="1">
              <!-- <button class="btn btn-primary btn-shadow d-block w-100 add-to-cart" data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button> -->
              <button class="btn btn-primary btn-sm add-to-cart" type="button"
                data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" style="width: 100%;"><i
                  class="ci-cart fs-sm me-1"></i>Add to Cart</button>
            </div>
            <!-- <div class="text-center"><a class="nav-link-style fs-ms quick_view" data-href="{% url 'ecomapp:clientproductquickview' product.id %}"><i class="ci-eye align-middle me-1"></i>Quick view</a></div> -->
            <!-- <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div> -->
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      {% endfor %}
      <!-- Product-->
      {% comment %}
      {% for product in productlist %}
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          {% if product in collectionlist.products %}
          <span class="badge bg-danger badge-shadow">Sale</span>
          {% endif %}
          {% if request.user.is_authenticated and request.user.groups.first.name == "Customer" %}
          {% if product in wishlist.products.all %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" id="addWishList"
            type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove from wishlist">
            <i class="ci-heart-circle"></i>
          </button>
          {% else %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" id="addWishList"
            type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </button>
          {% endif %}
          {% else %}
          <a class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" href="#signin-modal" data-bs-toggle="modal"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </a>
          {% endif %}
          <a class="card-img-top d-block overflow-hidden"
            href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"><img
              src="{% if product.display_image %}{{product.display_image.url}}{% endif %}" alt="Product"
              style="height: 200px; width: 100%; object-fit: cover;"></a>
          <div class="card-body py-2">
            <a class="product-meta d-block fs-xs pb-1"
              href="{% url 'ecomapp:clientcategorydetail' product.category.slug %}">{{product.category}}</a>
            <h3 class="product-title fs-sm"><a href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"
                class="fit-title1">{{product.title|capfirst}}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">€{{product.selling_price|intcomma}}</span></div>
            </div>
          </div>
        </div>
        <div>
          <option class="quantity_input" style="visibility: hidden;" value="1"></option>
          <button class="btn btn-primary btn-sm d-block w-100 mb-2 add-to-cart"
            data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" type="button"><i
              class="ci-cart fs-sm me-1"></i>Add to Cart</button>
          <!-- <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div> -->
        </div>
      </div>
      <hr class="d-sm-none">
      {% endfor %}
      {% endcomment %}
    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent"
        href="{% url 'ecomapp:clientcategorydetail' 'all' %}">More products<i class="ci-arrow-right ms-1"></i></a></div>
  </section>
  {% endif %}
  {% if collectionlist %}
  <section class="container pt-md-3 pb-5 mb-md-3 mt-5">
    <div class="container py-xl-2">
      <div class="row">
        <!-- Slider     -->
        <div class="col-xl-9 pt-xl-4 order-xl-2">
          <div class="tns-carousel">
            <div class="tns-carousel-inner"
              data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;loop&quot;: false}">
              {% for collection in collectionlist %}
              <div>
                <div class="row align-items-center">
                  <div class="col-md-6 order-md-2"><img class="d-block mx-auto" style="border-radius: 10px;"
                      src="{% if collection.image %}{{collection.image.url}}{% endif %}" alt="VR Collection"></div>
                  <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                    <!-- <h2 class="fw-light pb-1 from-bottom">World of music with</h2> -->
                    <h1 class="display-4 from-bottom delay-1">{{collection.title}}</h1>
                    <h5 class="from-bottom delay-1">Get upto {{collection.discount_pct}}% off</h5>

                    <!-- <h5 class="fw-light pb-3 from-bottom delay-2">{{collection.title}}</h5> -->
                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow"
                        href="{% url 'ecomapp:collectiondetail' collection.id %}">Shop Now<i
                          class="ci-arrow-right ms-2 me-n1"></i></a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- <div>
                  <div class="row align-items-center">
                    <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="img/home/hero-slider/04.jpg" alt="VR Collection"></div>
                    <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                      <h2 class="fw-light pb-1 from-start">Explore the best</h2>
                      <h1 class="display-4 from-start delay-1">VR Collection</h1>
                      <h5 class="fw-light pb-3 from-start delay-2">on the market</h5>
                      <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row align-items-center">
                    <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="img/home/hero-slider/06.jpg" alt="VR Collection"></div>
                    <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                      <h2 class="fw-light pb-1 scale-up">Check our huge</h2>
                      <h1 class="display-4 scale-up delay-1">Smartphones</h1>
                      <h5 class="fw-light pb-3 scale-up delay-2">&amp; Accessories collection</h5>
                      <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
        <!-- Banner group-->
        <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
          <div class="table-responsive" data-simplebar>
            <div class="d-flex d-xl-block">
              {% for collection in collectionlist %}
              <a class="d-flex align-items-center bg-faded-info rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0"
                href="{% url 'ecomapp:collectiondetail' collection.id %}" style="min-width: 16rem;"><img
                  style="border-radius: 5px;" src="{% if collection.image %}{{collection.image.url}}{% endif %}"
                  width="125" alt="Banner">
                <div class="py-4 px-2">
                  <h5 class="mb-2"><span class="fw-light">{{collection.title}}</span></h5>
                  <div class="text-info fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                </div>
              </a>
              {% endfor %}
              <!-- <a class="d-flex align-items-center bg-faded-warning rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="#" style="min-width: 16rem;"><img src="img/home/banners/banner-sm02.png" width="125" alt="Banner">
                  <div class="py-4 px-2">
                    <h5 class="mb-2"><span class="fw-light">Top Rated</span><br>Gadgets<br><span class="fw-light">are on </span>Sale</h5>
                    <div class="text-warning fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                  </div>
                </a>
                <a class="d-flex align-items-center bg-faded-success rounded-3 pt-2 ps-2 mb-4" href="#" style="min-width: 16rem;"><img src="img/home/banners/banner-sm03.png" width="125" alt="Banner">
                  <div class="py-4 px-2">
                    <h5 class="mb-2"><span class="fw-light">Catch Big</span><br>Deals <span class="fw-light">on</span><br>Earbuds</h5>
                    <div class="text-success fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                  </div>
                </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if bestseller %}
  <section class="container pt-md-3 pb-5 mb-md-3 mt-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3">Best Seller</h2>
      <div class="pt-3"><a class="btn btn-outline-accent btn-sm"
          href="{% url 'ecomapp:clientcategorydetail' 'all' %}">More products<i
            class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <div class="row pt-4 mx-n2">
      <!-- Product-->
      {% for product in bestseller %}

      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          {% if product.on_sale %}
          <span class="badge bg-danger badge-shadow">Sale</span>
          {% endif %}
          {% if request.user.is_authenticated and request.user.groups.first.name == "Customer" %}
          {% if product in wishlist.products.all %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" type="button"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Remove from wishlist">
            <i class="ci-heart-circle"></i>
          </button>
          {% else %}
          <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" type="button"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </button>
          {% endif %}
          {% else %}
          <a class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" href="#signin-modal" data-bs-toggle="modal"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
            <i class="ci-heart"></i>
          </a>
          {% endif %}
          <a class="card-img-top d-block overflow-hidden"
            href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}">
            <img src="{{product.display_image.url}}" style="width: 100%; height: 250px; object-fit: contain;"
              alt="{{product.title}}" style="background: transparent;"></a>
          <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1"
              href="{% url 'ecomapp:clientcategorydetail' product.category.slug %}">{{product.category|capfirst}}</a>
            <h3 class="product-title fs-sm"><a href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"
                class="fit-title1">{{product.title|capfirst}}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price">
                <span class="text-accent">€. {{product.selling_price|intcomma}}</span>
                <!-- <del class="fs-sm text-muted">€. {{product.marked_price}}</del> -->
              </div>
              <!-- <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i>
              </div> -->
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <!-- <div class="text-center pb-2">
              <div class="form-check form-option form-check-inline mb-2">
              <input class="form-check-input" type="radio" name="color1" id="white" checked>
              <label class="form-option-label rounded-circle" for="white"><span class="form-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
              </div>
              <div class="form-check form-option form-check-inline mb-2">
              <input class="form-check-input" type="radio" name="color1" id="blue">
              <label class="form-option-label rounded-circle" for="blue"><span class="form-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
              </div>
              <div class="form-check form-option form-check-inline mb-2">
              <input class="form-check-input" type="radio" name="color1" id="yellow">
              <label class="form-option-label rounded-circle" for="yellow"><span class="form-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
              </div>
              <div class="form-check form-option form-check-inline mb-2">
              <input class="form-check-input" type="radio" name="color1" id="pink">
              <label class="form-option-label rounded-circle" for="pink"><span class="form-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
              </div>
          </div> -->
            <div class="d-flex mb-2">
              <!-- <select class="form-select form-select-sm me-2">
              <option>XS</option>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              </select> -->
              <input type="number" name="quantity" class="form-control quantity_input" style="display: none;" value="1">
              <!-- <button class="btn btn-primary btn-shadow d-block w-100 add-to-cart" data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button> -->
              <button class="btn btn-primary btn-sm add-to-cart" type="button"
                data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" style="width: 100%;"><i
                  class="ci-cart fs-sm me-1"></i>Add to Cart</button>
            </div>
            <!-- <div class="text-center"><a class="nav-link-style fs-ms quick_view" data-href="{% url 'ecomapp:clientproductquickview' product.id %}"><i class="ci-eye align-middle me-1"></i>Quick view</a></div> -->
            <!-- <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div> -->
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      {% endfor %}
    </div>
    <!-- <div class="text-center pt-3"><a class="btn btn-outline-accent" href="{% url 'ecomapp:clientallproducts' %}">More products<i class="ci-arrow-right ms-1"></i></a></div> -->
  </section>
  {% endif %}






  <!-- Entries list-->
  {% if featuredblogs %}
  <section class="container pt-md-3 pb-5 mb-md-3 mt-5" style="background: rgba(244, 244, 244, 0.8)">
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3 mb-0 pt-3 me-3">Himalayan Tibet</h2>
    </div>
    <div class="container py-xl-2">
      <div class="row">
        <!-- Slider     -->
        <div class="col-xl-12">
          <div class="tns-carousel">
            <div class="tns-carousel-inner"
              data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;loop&quot;: false}">
              {% for blog in featuredblogs %}
              <section>
                <article class="blog-list pb-4">
                  <div class="blog-start-column">
                    <a class="blog-entry-thumb mb-3" href="{% url 'ecomapp:clientblogdetail' blog.slug %}">
                      <img src="{% if blog.image %}{{blog.image.url}}{% endif %}" alt="Post" style="max-height: 350px !important; object-fit: cover;">
                    </a>
                  </div>
                  <div class="blog-end-column" style="height: 250px; overflow: hidden;">
                    <div class="d-flex justify-content-between mb-1">
                      <div class="pe-2 mb-2">
                        <a href="{% url 'ecomapp:clientblogdetail' blog.slug %}" class='blog-entry-meta-link'>
                          {% if blog.author %}
                          <i class="ci-user"></i> &nbsp; {{blog.author.first_name}} {{blog.author.last_name}}
                          {% else %}
                          Anonymous
                          {% endif %}
                        </a><br>
                        <div class="fs-sm">
                        </div>
                      </div>
                      <div class="fs-sm mb-2">
                        <div class="blog-entry-meta-link text-nowrap">{{blog.created_at|date:"D d, M Y"}}</div>
                      </div>
                    </div>
                    <p class="fs-sm">{{blog.content|safe|truncatewords:'120'}}
                    </p>
                  </div>
                </article>
              </section>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}




  {% if onsalepdocutlist %}
  <!-- Discounted products (Carousel)-->
  <section class="container pt-md-3 pb-5 mb-md-3 mt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3 mb-0 pt-3 me-3">Sale products</h2>
      <div class="pt-3"><a class="btn btn-outline-accent btn-sm"
          href="{% url 'ecomapp:clientcategorydetail' 'all' %}">More products<i
            class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled pt-2">
      <div class="tns-carousel-inner"
        data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
        <!-- Product-->

        {% for product in onsalepdocutlist %}
        <div>
          <div class="card product-card card-static pb-3"><span class="badge bg-danger badge-shadow">Sale</span>
            {% if request.user.is_authenticated and request.user.groups.first.name == "Customer" %}
            {% if product in wishlist.products.all %}
            <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" id="addWishList"
              type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove from wishlist">
              <i class="ci-heart-circle"></i>
            </button>
            {% else %}
            <button class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" data-id="{{product.id}}" id="addWishList"
              type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
              <i class="ci-heart"></i>
            </button>
            {% endif %}
            {% else %}
            <a class="btn-wishlist btn_wishlist_{{product.id}} btn-sm" href="#signin-modal" data-bs-toggle="modal"
              data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist">
              <i class="ci-heart"></i>
            </a>
            {% endif %}

            <a class="card-img-top d-block overflow-hidden"
              href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}"><img
                src="{% if product.display_image %}{{product.display_image.url}}{% endif %}" alt="Product"
                style="height: 290px; width: 100%; object-fit: cover;">
            </a>

            <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1"
                href="{% url 'ecomapp:clientcategorydetail' product.category.slug %}">{{product.category}}</a>
              <h3 class="product-title fs-sm text-truncate"><a
                  href="{% url 'ecomapp:clientproductdetail' product.title product.slug %}">{{product.title}}</a></h3>
              <div class="product-price"><span class="text-accent">€{{product.selling_price|intcomma}}</span>
                <del class="fs-sm text-muted">€ {{product.marked_price|intcomma}}</del>
              </div>
            </div>
            <div class="product-floating-btn">
              <option class="quantity_input" style="visibility: hidden;" value="1"></option>
              <button class="btn btn-primary btn-sm d-block w-100 mb-2 add-to-cart"
                data-url="{% url 'ecomapp:ajaxcustomeraddtocart' product.id %}" type="button" title="Add to Cart"><i
                  class="ci-cart fs-sm me-1"></i></button>
              <!-- <button class="btn btn-primary btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button> -->
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {% endif %}


  {% if latestbloglist %}
  <section class="container pb-4 mb-md-3">
    <!-- Related posts-->
    <div>
      <div class="container py-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
          <h2 class="h3">Latest Blogs</h2>
          <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="{% url 'ecomapp:clientbloglist' %}">More
              Blogs<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
        </div>
        <!-- <h2 class="h4 text-center pb-4">Latest Blogs</h2> -->
        <div class="tns-carousel">
          <div class="tns-carousel-inner"
            data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
            {% for blog in latestbloglist %}
            <!-- article-->
            <article>
              <a class="blog-entry-thumb mb-3" href="{% url 'ecomapp:clientblogdetail' blog.slug %}">
                <img style="height: 250px; width: 100%; object-fit: cover;"
                  src="{% if blog.image %}{{blog.image.url}}{% endif %}" alt="Post" >
                </a>
              <div class="d-flex align-items-center fs-sm mb-2 px-2">
                {% if blog.author %}
                <i class="ci-user"></i> &nbsp; {{blog.author.first_name}} {{blog.author.last_name}}
                {% else %}
                Anonymous
                {% endif %}
                <span class="blog-entry-meta-divider"></span>{{blog.created_at|date}}
              </div>
              <div class="px-2">
                <h3 class="h6 blog-entry-title">
                  <a href="{% url 'ecomapp:clientblogdetail' blog.slug %}">{{blog.title}}</a>
                </h3>
                <p class="fs-sm"></p>{{blog.content|striptags|truncatewords:15}}<a href='{% url "ecomapp:clientblogdetail" blog.slug %}' class='blog-entry-meta-link fw-small'>[Read more]</a></p>
              </div>
            </article>
            <!-- article-->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- Banners-->
  <!-- <section class="container pb-4 mb-md-3">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
          <h4 class="fs-lg fw-light mb-2">Hurry up! Limited time offer</h4>
          <h3 class="mb-4">Converse All Star on Sale</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
        </div><img class="d-block ms-auto" src="{% static 'customstatic/dist/img/shop/catalog/banner.jpg' %}" alt="Shop Converse">
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3" style="background-image: url({% static 'customstatic/dist/img/blog/banner-bg.jpg' %});">
        <div class="py-4 my-2 px-4 text-center">
          <div class="py-1">
            <h5 class="mb-2">Your Add Banner Here</h5>
            <p class="fs-sm text-muted">Hurry up to reserve your spot</p><a class="btn btn-primary btn-shadow btn-sm" href="#">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


  <!-- Blog + Instagram info cards-->
  <!-- <section class="container-fluid px-0">
  <div class="row g-0">
    <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="blog-list-sidebar.html">
      <div class="card-body text-center"><i class="ci-edit h3 mt-2 mb-4 text-primary"></i>
        <h3 class="h5 mb-1">Read the blog</h3>
        <p class="text-muted fs-sm">Latest store, fashion blog and trends</p>
      </div></a></div>
      <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="#">
        <div class="card-body text-center"><i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
          <h3 class="h5 mb-1">Follow on Instagram</h3>
          <p class="text-muted fs-sm">#ShopWithCartzilla</p>
        </div></a></div>
      </div>
    </section> -->
</div>
{% endblock %}
{% block js %}

{% endblock %}