{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block title %}
Privacy Policy
{% endblock %}

{% block content %}
<!-- Page Title (Light)-->
<div class="bg-secondary py-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'ecomapp:clienthome' %}"><i class="ci-home"></i>Home</a></li>
          <li class="breadcrumb-item text-nowrap active"><a href="">Our Private Policy</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
      <h1 class="h3 mb-0">Our Private Policy</h1>
    </div>
  </div>
</div>
<main class="container-fluid px-0">
    <!-- Row: Shop online-->
    <section class="container pt-md-3 pb-5 mb-md-3 mt-5">
        {{org.privacy_policy}}
    </section>
  </main>
{% endblock %}