<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>
<style>
    #btn {
        background-color: red !important;
        padding: 10px !important;
        color: #fff;
        text-align: center;
    }
</style>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <div class="container mail_end">
        <h4 style="text-align: center;">HimalayanTibet Shop Rome</h4>
        <h2 style="text-align: center;">Your ordered is placed!</h2>
        <p style="font-size: 20px;">Hi <b>Sundar Tamang</b></p>
        <p>Thank you for ordering from HimalayanTibet</p>
        <p>We are excited for you to receive <b> order_id </b>and will notify you once its way</p>
        <br>
        <a href="" style="
        align-content: center;
        color: #fff;
        padding: 20px 10px;
        background-color: #fe696a;
        border-color: #fe696a;
        box-shadow: unset;
        border-radius: 3px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 3px;
        text-decoration: none;
        cursor: pointer;
        ">
            ORDER STATUS
        </a>
        <br>
        <br>
        <p>Please note that we are unable to change your delievery address once your order is placed</p>
        <h4>Delievery address</h4>
        <p><b>Name : </b></p>
        <p><b>Address : </b></p>
        <p><b>Phone : </b></p>
        <p><b>Email : </b></p>
        <h4>Product description</h4>
        <p><b>Product : </b></p>
        <p><b>price : </b></p>
        <p><b>quantity : </b></p>
        <p><b>Shipping charge : </b></p>
        <p><b>Total : </b></p>
        <br>
        <h4>How can i track my order ?</h4>
        <p>To track your order, simply head over to login> my account> click at order> click at eye button</p>
    </div>
</body>

</html>